# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log
